{% extends "Internas/Principal.html" %}

{% block contenido %} 
<h1 style="background-color: salmon; color: black; text-align: center; margin-left: 50px; margin-right: 50px;">Volcanes DashBoard
</h1>
<div class="col-md-10 col-12 mx-auto">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <canvas id="ErupcionesDiarias" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <canvas id="ErupcionesDiarias" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <canvas id="ErupcionesDiarias" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <canvas id="ErupcionesDiarias" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <canvas id="ErupcionesDiarias" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <canvas id="ErupcionesDiarias" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 